
body {
  padding: 20px;
  background-color:#c9e7ff
}

p { margin : 0;
  font-family: 'Droid Sans', sans-serif;
}

header {
  font-family: 'Droid Serif', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h1 {
  display: flex;
  text-align: center;
}
