html {
  height: 100%;
  width: auto;
  margin: 0;
}

body {
  min-height: 100%;
  padding: 2.4rem;
  background-color: #ffebff;
}

#map {
  height: 40vh;
  width: 100%;
}

p {
  margin: 0;
}

body>footer {
  padding: 0;
  background-color: #ddc8dd;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
}

body>footer>div.footer-right {
  text-align: right;
}
