html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 20px;
  background-color:#ffebff;
  display: flex;
  flex-direction: column;
}

p {
  margin : 0;
}

body > header > p{
  font-size: .8rem;
}

body > footer {
  padding: 0;
  background-color: #ddc8dd;
  font-size: .8rem;
  display: flex;
}

body > footer > div > div > div:nth-child(2){
display:flex;
justify-content: flex-end;
text-align: right;
}

body > footer > div > div > div:nth-child(1){
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
